.button.green {
  &:hover {
    border-bottom-color: $secondary-color;
    background-color: scale-color($primary-color, $lightness: -7%);
  }

  &.small {
    font-size: 18px;
    border-radius: 1px;
    padding: 5px 8px 6px;
  }

  &.big {
    font-size: 30px;
    padding: 12px 16px 13px;
    border-radius: 2px;
    border-bottom-width: 5px;
    border-bottom-color: $secondary-color;

    &:active {
      border-bottom-width: 4px;
    }
  }

  &.email {
    transition: width .3s;
    overflow: hidden;
    height: 66px;
    padding: 0;

    span {
      width: 100%;
    }

    .t_send, .t_sending, .t_sent, .t_error {
      transition: color .5s;
      position: absolute;
      left: 50%;
      top: 10px;

      span {
        position: relative;
        left: -50%;
      }
    }

    @include send-text(send) {
      width: 180px;
    }

    @include send-text(sending) {
      width: 210px;
    }

    @include send-text(sent) {
      width: 230px;
    }

    @include send-text(error) {
      width: 210px;
      animation: shake .5s;
    }
  }
}
