// Typography
$font-primary: 'Source Sans Pro', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif
$font-hero: 'Oswald', 'Trebuchet MS', Helvetica, sans-serif

// Colours
$color-blue: #2c3e51
$color-blue-dark: #182a3d
$color-pink: #e84a64
