@import ../bower_components/normalize-css/normalize.css
@import ../bower_components/bourbon/dist/bourbon
@import ../bower_components/neat/app/assets/stylesheets/neat

@import variables
@import keyframes
@import mixins

html
  font-family: $font-primary

a
  text-decoration: none
  color: inherit

h1
  @include font($font-hero, golden-ratio(60px, 1))
  display: inline
  border: 3px solid white
  padding: 6px 15px 0
  margin: 0

  @include respond-to(mobile)
    font-size: golden-ratio(45px, 1)
    border-width: 2px

  @include respond-to(mobile-3)
    font-size: golden-ratio(40px, 1)

  @include respond-to(mobile-2)
    font-size: golden-ratio(35px, 1)

  @include respond-to(mobile-1)
    font-size: golden-ratio(30px, 1)

  @include respond-to(tablet)
    font-size: golden-ratio(50px, 1)

h2
  @include font($font-hero, golden-ratio(30px, 1))
  margin: 15px 0

  @include respond-to(mobile)
    font-size: golden-ratio(26px, 1)
    border-width: 2px

  @include respond-to(mobile-3)
    font-size: golden-ratio(25px, 1)

  @include respond-to(mobile-2)
    font-size: golden-ratio(24px, 1)

  @include respond-to(mobile-1)
    font-size: golden-ratio(23px, 1)

  @include respond-to(tablet)
    font-size: golden-ratio(27px, 1)

.fullscreen
  @include position(absolute, 0 0 0 0)
  text-align: center
  color: white
  background:
    image: url(../img/background.jpg)
    repeat: no-repeat
    position: center
    size: cover

  nav
    margin-top: 60px

    .logo
      display: none

      @include respond-to(mobile)
        display: inherit

    li
      display: inline

      @include respond-to(mobile)
        display: none

      + li
        margin-left: 15px

      a
        @include transition(border 200ms)
        font-size: golden-ratio(12px, 1)
        color: white
        padding: 5px 15px 6px
        border: 2px solid transparent
        border-radius: 5px

      &.active a, a:hover, a:focus
        border-color: white

  .hero
    @include position(absolute, 50% auto auto 50%)
    @include size(100% 320px)
    margin: -180px 0 0 -50%

    @include respond-to(mobile)
      margin-top: -130px
      height: 220px

    @include respond-to(tablet)
      margin-top: -150px
      height: 300px

    .title
      @include transition(opacity 250ms)

  .scroll
    @include position(absolute, auto auto 30px auto)
    text-align: center
    width: 100%

    p a
      @include transition(border 200ms)
      @include font($font-hero, golden-ratio(13px, 1))
      border-bottom: 2px solid transparent
      padding-bottom: 2px

      &:hover, &:focus
        border-color: white

    svg
      @include animation(floating 2s infinite)

.below-fullscreen
  @include position(absolute, 100% auto auto auto)
  height: 1200px
  background: grey

$color-3: #e84a64

.fixed-nav
  ul
    list-style: none
    position: fixed
    padding: 0
    width: 90%
    max-width: 400px
    right: 5%
    bottom: 20px
    border-radius: .25em
    box-shadow: 0 0 10px rgba($color-3, .4)
    background: white
    visibility: hidden
    overflow: hidden
    z-index: 1

    @include backface-visibility(hidden)
    @include transform(scale(0))
    @include transform-origin(100% 100%)
    @include transition(transform 0.3s, visibility 0s 0.3s)

    li
      @include backface-visibility(hidden)

    &.is-visible
      visibility: visible
      @include transform(scale(1))
      @include transition(transform 0.3s, visibility 0s 0s)

      @for $i from 1 through 6
        li:nth-child(#{$i})
          @include animation(slide-in #{$i * 0.1s + 0.1})

  li a
    display: block
    padding: 20px 24px
    border-bottom: 1px solid #eff2f6

  li:last-child a
    border-bottom: none

  .trigger
    position: fixed
    bottom: 36px
    right: 5%
    width: 44px
    height: 44px
    background: white
    border-radius: .25em
    box-shadow: 0 0 10px rgba($color-3, .4)
    overflow: hidden
    text-indent: 100%
    white-space: nowrap
    z-index: 2

    span
      position: absolute
      display: block
      width: 20px
      height: 2px
      background: $color-3
      top: 50%
      margin-top: -1px
      left: 50%
      margin-left: -10px
      @include transition(background 0.3s)

      &::before, &::after
        content: ''
        position: absolute
        left: 0
        background: inherit
        width: 100%
        height: 100%

        @include transform(translateZ(0))
        @include backface-visibility(hidden)
        @include transition(transform 0.3s, background 0s)

      &::before
        top: -6px
        @include transform(rotate(0))

      &::after
        bottom: -6px
        @include transform(rotate(0))

    &.menu-is-open
      box-shadow: none

    &.menu-is-open span
      background: rgba($color-3, 0)

      &::before, &::after
        background: rgba($color-3, 1)

      &::before
        top: 0
        @include transform(rotate(135deg))

      &::after
        bottom: 0
        @include transform(rotate(225deg))
