@import ../bower_components/normalize-css/normalize.css
@import ../bower_components/bourbon/dist/bourbon
@import ../bower_components/neat/app/assets/stylesheets/neat
@import variables

html
  font-family: $font-primary

.fullscreen
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  text-align: center
  background:
    image: url("../img/Background.jpg")
    repeat: no-repeat
    position: center
    size: cover

  nav
    margin-top: 4%

    ul
      display: inline-block

      li
        display: inline
        padding: 5px 15px
        border: 2px solid rgba(0, 0, 0, 0.0)
        border-radius: 3px

        &.active, &:hover, &:focus
          border-color: white

        + li
          margin-left: 15px

        a
          color: #fff
          text-decoration: none
          font-size: 20px

.below-fullscreen
  position: absolute
  top: 100%
