@import ../bower_components/normalize-css/normalize.css
@import ../bower_components/bourbon/dist/bourbon
@import ../bower_components/neat/app/assets/stylesheets/neat

@import variables
@import keyframes
@import mixins

html
  font-family: $font-primary

a
  text-decoration: none
  color: #E74A64

ul
  list-style: none
  padding: 0
  margin: 0

h1
  @include font($font-hero, 60px)
  display: inline
  border: 3px solid white
  padding: 6px 15px 0
  margin: 0

  @include respond-to(mobile)
    font-size: golden-ratio(45px, 1)
    border-width: 2px

  @include respond-to(mobile-3)
    font-size: golden-ratio(40px, 1)

  @include respond-to(mobile-2)
    font-size: golden-ratio(35px, 1)

  @include respond-to(mobile-1)
    font-size: golden-ratio(30px, 1)

  @include respond-to(tablet)
    font-size: golden-ratio(50px, 1)

h2
  @include font($font-hero, 30px)
  margin: 15px 0

  @include respond-to(mobile)
    font-size: golden-ratio(26px, 1)
    border-width: 2px

  @include respond-to(mobile-3)
    font-size: golden-ratio(25px, 1)

  @include respond-to(mobile-2)
    font-size: golden-ratio(24px, 1)

  @include respond-to(mobile-1)
    font-size: golden-ratio(23px, 1)

  @include respond-to(tablet)
    font-size: golden-ratio(27px, 1)

h3
  @include font(inherit, 22px, 300)
  margin: 0 auto 80px

  span
    border-bottom: 1px solid
    padding-bottom: 10px

.popup-nav
  @include transition(visibility 0.2s, opacity 0.2s)
  visibility: hidden
  opacity: 0

  &.visible
    visibility: visible
    opacity: 1

  ul
    padding: 0
    width: 90%
    max-width: 400px
    border-radius: 0.25em
    box-shadow: 0 0 10px rgba($color-accent, 0.4)
    background: white
    visibility: hidden
    overflow: hidden
    z-index: 1

    @include position(fixed, auto 5% 35px auto)
    @include backface-visibility(hidden)
    @include transform(scale(0))
    @include transform-origin(100% 100%)
    @include transition(transform 0.3s, visibility 0.3s)

    li
      @include backface-visibility(hidden)

    &.is-visible
      visibility: visible
      @include transform(scale(1))
      @include transition(transform 0.3s, visibility 0.3s)

      @for $i from 1 through 6
        li:nth-child(#{$i})
          @include animation(slide-in #{$i * 0.1s + 0.1})

  li a
    display: block
    padding: 20px 24px
    border-bottom: 1px solid #eff2f6

  li:last-child a
    border-bottom: none

  .trigger
    @include position(fixed, auto 5% 51px auto)
    @include size(44px 44px)
    background: white
    border-radius: 0.25em
    box-shadow: 0 0 10px rgba($color-accent, .4)
    overflow: hidden
    text-indent: 100%
    white-space: nowrap
    z-index: 2

    span
      @include position(absolute, 50% auto auto 50%)
      @include transition(background 0.3s)
      @include size(20px 2px)
      background: $color-accent
      display: block
      margin-top: -1px
      margin-left: -10px

      &::before, &::after
        @include size(100% 100%)
        @include position(absolute, auto auto auto 0)
        @include transform(translateZ(0))
        @include backface-visibility(hidden)
        @include transition(transform 0.3s, background 0s)
        background: inherit
        content: ''

      &::before
        @include transform(rotate(0))
        top: -6px

      &::after
        @include transform(rotate(0))
        bottom: -6px

    &.menu-is-open
      box-shadow: none

    &.menu-is-open span
      background: none

      &::before, &::after
        background: $color-accent

      &::before
        @include transform(rotate(135deg))
        top: 0

      &::after
        @include transform(rotate(225deg))
        bottom: 0

.fullscreen
  @include position(absolute, 0 0 0 0)
  text-align: center
  color: white
  background:
    color: black
    repeat: no-repeat
    position: center
    size: cover

  a
    color: white

  nav
    margin-top: 60px

    .logo
      display: none

      @include respond-to(mobile)
        display: inherit

    li
      display: inline

      @include respond-to(mobile)
        display: none

      + li
        margin-left: 15px

      a
        @include transition(border 200ms)
        font-size: golden-ratio(12px, 1)
        padding: 5px 15px 6px
        border: 2px solid transparent
        border-radius: 3px

      &.active a, a:hover, a:focus
        border-color: white

  .hero
    @include position(absolute, 50% auto auto 50%)
    @include size(100% 320px)
    margin: -180px 0 0 -50%

    @include respond-to(mobile)
      margin-top: -130px
      height: 220px

    @include respond-to(tablet)
      margin-top: -150px
      height: 300px

    h2:last-child
      @include transition(opacity 250ms)

  .scroll
    @include position(absolute, auto auto 40px auto)
    text-align: center
    width: 100%

    p a
      @include transition(border 200ms)
      @include font($font-hero, 13px)
      border-bottom: 2px solid transparent
      padding-bottom: 2px

      &:hover, &:focus
        border-color: white

    svg
      @include animation(floating 2s infinite)

.below-fullscreen
  @include position(absolute, 100% auto auto auto)
  text-align: center
  color: #2C3E51
  width: 100%

  a:hover, a:focus
    border-bottom: 1px solid

  img
    width: 100%

  section
    padding: 90px 0 60px

    &.grey
      background-color: #F2F2F2

    li
      margin: 0 50px

      & > p
        max-width: 560px
        line-height: 34px
        margin: 0 auto 50px

        span
          display: block

          &:first-child
            @include font(inherit, 15px, 300)
            margin-bottom: 2px

          &:last-child
            font-size: golden-ratio(15px, 1)

    .row
      @include outer-container
      max-width: 880px
      padding: 0 20px

      .item
        max-width: 410px
        margin: 0 auto 60px
        padding: 0 5px

        @include respond-to(desktop)
          @include span-columns(6)
          margin-bottom: 40px

        img
          width: 100%
          border-top-left-radius: 2px
          border-top-right-radius: 2px

        footer
          @include position(relative, -4px auto auto auto)
          @include size(100% 60px)
          border-bottom-left-radius: 2px
          border-bottom-right-radius: 2px
          background-color: white
          text-align: left
          color: #E74A64

          span:first-child
            @include font(inherit, 17px, 300)
            margin-left: 15px
            line-height: 60px

          .btn
            @include font(inherit, 12px, 300)
            margin-top: 11px
            margin-right: 15px
            padding: 5px 8px 6px
            border: 1px solid
            border-radius: 2px
            float: right

  & > footer
    @include font(inherit, 17px, 300)
    padding: 50px 0 70px

    hr
      width: 100px
      margin: 50px auto 50px

    ul
      li
        display: inline

        svg
          width: 65px

      li + li
        margin-left: 30px
