/* GLOBALS */

html {
  font-family: monospace;
}

/* BRAND COLORS */

.tangaroa {
	color: #04143A;
}

.light-slate-gray {
  color: #81899D;
}

.havelock-blue {
  color: #468EE5;
}

.link-water {
  color: #DBE9FA;
}

/* CUSTOM */

.tag {
  background: #DBE9FA;
  color: #468EE5;
  font-weight: bold;
  padding: 4px 6px;
}
