// Footer
footer.footer
    p &copy; 2015 Mysite. All rights reserved.
    nav
        ul
            - each page,i in FooterNavigation
                li(class="#{page.link}")
                        a(href='#{page.link}.html') #{page.title}
