.page.portfolio {
  .portfolio-item {
    margin: 50px 10px 10px;
    transition: margin .3s;

    img {
      width: 100%;
    }

    .caption-wrapper {
      position: relative;
      overflow: hidden;
      height: 0;
      top: 0;
      transition: top .3s, height .3s;
    }

    figcaption {
      width: 100%;
      height: 60px;
      padding: 22px;
      background: #333;

      .title {
        float: left;
        display: inline-block;
        font-weight: 600;
        color: $primary-color;
      }

      .read-about-it {
        float: right;
        display: inline-block;
      }
    }

    &:hover {
      margin-bottom: -50px;

      .caption-wrapper {
        top: -60px;
        height: 60px;
      }
    }
  }
}
