
/* GREEN OLD COLOR SCHEME */

/* 	----------------------------------------
	---	PRIMARY COLOR : #B8DA7C 
*/
#header nav ul .current-menu-item span, #header nav ul .current-menu-item a:hover span, /* Nav Active State */
h2.caption span, /* Page Captions */
ul.personal-info .title, /* Personal Info Titles / Form Labels */
.btn, button, html input[type="button"], input[type="reset"], input[type="submit"], /* Buttons */
.bar .progress, /* progress bars */
#header nav:after, /* mobile nav menu : select list */
.portfolio-nav a.button:hover
{ background: #B8DA7C; }

h2.caption span:after { border-left-color: #B8DA7C; }
ul.personal-info .title:after { border-left-color: #B8DA7C; }

.history-unit, /* resume page - history units */
.map iframe, /* google map */
input:focus, textarea:focus, /* inputs - textareas */
span.label.primary
{ border-color: #B8DA7C; }
/* --------------------------------------- */


/* 	----------------------------------------
	---	SECONDARY COLOR : #B8DA7C 
*/
#filters .current a, /* portfolio filter active item */
.media-box .mask .title, /* portfolio item hover text */
.portfolio-title h2, .portfolio-field h3 /* portfolio details - titles */
{ border-color: #B8DA7C;  }
/* --------------------------------------- */


/* Menu - dark text color for active item */
#header nav ul li.current-menu-item a { color: #000; }