
/* LIGHT TEXT STYLE 
	- gives texts shadow look */

body{ color: #fff; color: rgba(255, 255, 255, .9); text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }

/* TEXT COLORS */
h1, h2, h3, h4, h5, h6, #filters .current a { color: #fff; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); }
.history-unit h4 .work-time, .history-unit h5, #filters a { color: #ccc; color: rgba(255, 255, 255, 0.65); }

/* CONTACT FORM */
input, textarea { color:#fff; background-color:#eee; background-color: rgba(0, 0, 0, 0.2); }
input:focus, textarea:focus { background-color:#fff; background-color: rgba(0, 0, 0, 0.3); }
::-webkit-input-placeholder { color: #eee; }
:-moz-placeholder { color: #eee; }
:-ms-input-placeholder { color: #eee; }

/* RESUME */
.history-unit h5, .history-unit h4 .work-time { border-color: #ccc; border-color: rgba(0,0,0,.2); }
.bar { background:#eee; background: rgba(0,0,0,.1); }
span.label.black { background-color: #000; background-color: rgba(0, 0, 0, 0.9); }

/* ABOUT ME */
.social { text-shadow:none; }
.social li a { color:#fff; border-top: 1px solid rgba(0, 0, 0, .1); }

/* LINK COLOR */
a, a:link, a:visited { color:#E6FFB0; }
a:link:hover, a:visited:hover { color:#C4F064; }