block mainVars
    - Navigation = [{title:'HOME',link:'index'},{title:'ABOUT US',link:'about-us'},{title:'CONTACT',link:'contact'}]

    - FooterNavigation = [{title:'PRIVACY POLICY',link:'privacy-policy'}]


doctype html
html
    include default-partials/html-head
    body(class=page)
        include default-partials/header
        block content
        include default-partials/footer
        include default-partials/scripts