extends layouts/default.jade

append mainVars
    - currentPage = 'about-us'
    - pageTitle = 'Welcome to the about us page'
    - metaKey = 'add, some, keywords'
    - metaDesc = 'This is the page description.'

block content
    section.main
        .first
            p Ut eu vulputate sapien. Quisque vitae commodo neque. Sed eget augue vel augue rhoncus tristique a eget mi. Cras placerat massa a arcu euismod rutrum. Curabitur tincidunt imperdiet velit eget egestas. Praesent tempus commodo lacus ut aliquet. Nullam blandit, eros nec ultrices iaculis, massa leo porta neque, nec iaculis metus dolor id magna. Curabitur sed erat ac ligula scelerisque fringilla accumsan sed est. Integer ac tincidunt lorem.