extends layouts/default

append mainVars
    - currentPage = 'contact'
    - pageTitle = 'Welcome to the contact page'
    - metaKey = 'add, some, keywords'
    - metaDesc = 'This is the page description.'

block content
    section.main
        .first
            p This is the contact page! A form would look nice here.
