doctype html
html
  head
    title Alexandru Rosianu

    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet', href='css/styles.css')

  body
    .fixed-nav
      a.trigger(href='#0')
        span
 
      nav
        ul
          each item in menu
            li
              a(href='#{item.href}') #{item.title}
    
    .fullscreen
      nav
        .logo
          include ../svg/logo.svg

        ul
          each item in menu
            li
              a(href='#{item.href}') #{item.title}

      .hero
        h2 WELCOME TO MY WEBSITE
        h1 ALEXANDRU ROSIANU
        h2.title WEB DEVELOPER

      .scroll
        p
          a(href='#') FIND OUT MORE
        a(href='#')
          include ../svg/arrows.svg

    .below-fullscreen
      span Hello World
      p Blah blah hey hey dsaf dfa sdf
      span yep

    script(src='js/main.js')
