extends layouts/default

append mainVars
    - currentPage = 'index'
    - pageTitle = 'Welcome to the home page'
    - metaKey = 'add, some, keywords'
    - metaDesc = 'This is the page description.'

block content
    section.main
        .first
            p Lorem dipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar arcu justo, in malesuada urna ultrices sed. Cras sapien orci, iaculis in egestas non, tempor eget nisi. Duis mollis dapibus nibh. Cras id turpis dui. Etiam nec tristique nulla, vel faucibus mi. Cras vel ullamcorper quam, in rutrum lectus. Etiam ut felis ac leo auctor lobortis non vel felis. Donec pellentesque sit amet quam eget convallis. Morbi vel dictum metus. Praesent magna est, gravida sed bibendum at, venenatis convallis nibh. Integer sed lacinia eros. Integer interdum dictum orci sit amet accumsan. Vivamus quis facilisis turpis. Nam erat sapien, dictum ut eros eget, mollis facilisis turpis.
        .second
            p Ut en vulputate sapien. Quisque vitae commodo neque. Sed eget augue vel augue rhoncus tristique a eget mi. Cras placerat massa a arcu euismod rutrum. Curabitur tincidunt imperdiet velit eget egestas. Praesent tempus commodo lacus ut aliquet. Nullam blandit, eros nec ultrices iaculis, massa leo porta neque, nec iaculis metus dolor id magna. Curabitur sed erat ac ligula scelerisque fringilla accumsan sed est. Integer ac tincidunt lorem.
