extends layouts/default

append mainVars
    - currentPage = 'privacy-policy'
    - pageTitle = 'Welcome to the privacy policy page'
    - metaKey = 'add, some, keywords'
    - metaDesc = 'This is the page description.'

block content
    section.main
        .first
            p Lorem dipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar arcu justo, in malesuada urna ultrices sed. Cras sapien orci, iaculis in egestas non, tempor eget nisi. Duis mollis dapibus nibh. Cras id turpis dui. Etiam nec tristique nulla, vel faucibus mi. Cras vel ullamcorper quam, in rutrum lectus. Etiam ut felis ac leo auctor lobortis non vel felis. Donec pellentesque sit amet quam eget convallis. Morbi vel dictum metus. Praesent magna est, gravida sed bibendum at, venenatis convallis nibh. Integer sed lacinia eros. Integer interdum dictum orci sit amet accumsan. Vivamus quis facilisis turpis. Nam erat sapien, dictum ut eros eget, mollis facilisis turpis.